<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>StringsTable</key>
        <string>Acknowledgements</string>
        <key>PreferenceSpecifiers</key>
        <array>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>KIBoundary</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>KIBoundary2</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>KIBoundary3</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>KIBoundary4</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>KIBoundary5</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>NibDesignable</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>NibDesignable2</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>NibDesignable3</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>NibDesignable4</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>NibDesignable5</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>SZTextView</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>SZTextView2</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>SZTextView3</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>SZTextView4</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>FooterText</key>
                        <string>SZTextView5</string>
                </dict>
        </array>
</dict>
</plist>
